body {
  font-family: Arial, sans-serif;
  background: #6a1c1c;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.calc {
  background: rgb(216, 105, 105);
  padding: 20px;
  width: 250px;
  border-radius: 8px;
  box-shadow: 0 0 10px #ffffff;
  text-align: center;
}

input {
  width: 90%;
  padding: 8px;
  margin: 8px 0;
  font-size: 16px;
}

.btns button {
  width: 45px;
  height: 40px;
  margin: 5px;
  font-size: 18px;
  cursor: pointer;
}

#result {
  margin-top: 15px;
  font-size: 18px;
  font-weight: bold;
}
